 

<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>Read Me</h1>
        </div>
    </div>
</header>

<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Intro</h2>
            <p>
                Welcome! See below general description of this project
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix"> 

         <div class="col-md-12">
          </div>
    </section>
</div>

 